<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>broadcastMindiOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F72283831CBFF48A001492D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F722839C1CBFF48A001492D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F72283A71CBFF48A001492D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
